{% extends '_layouts/anniversary.twig' %}

{% from '_macros/button.twig' import link %}
{% from '_macros/content.twig' import image %}
{% from '_macros/hero.twig' import hero %}

{% set layoutSize = 'small' %}

{% set entry = craft.entries()
    .section('anniversaryBook')
    .with([
        ['anniversaryImage', {
            withTransforms: [
                { width: 400 },
                { width: 650 },

                {
                    height: 628,
                    width: 1200,
                    format: 'jpeg'
                }
            ]
        }],
        'anniversaryImage.contributors.other',
        'anniversaryImage.contributors.user:user'
    ])
    .limit(1)
    .collect()
    .first() %}

{% block main %}
    {{ hero({
        taxonomy: '100 Jahre ZS',
        taxonomyUrl: url('100'),
        title: entry.title
    }) }}

    {% if entry.anniversaryImage.first() %}
        <div class="anniversary-book__image">
            {{ image({
                image: entry.anniversaryImage.first(),
                lightbox: false,
                loading: 'eager',
                size: 'small'
            }) }}
        </div>
    {% endif %}

    {% if entry.anniversaryDescription %}
        <div class="anniversary-book__description">
            {{ entry.anniversaryDescription }}
        </div>
    {% endif %}

    {% if entry.anniversaryLinks|length > 0 %}
        <div class="anniversary-book__links">
            {% for link in entry.anniversaryLinks %}
                {{ link({
                    href: link.url,
                    icon: false,
                    label: link.label,
                    style: 'accent',
                    target: link.blank ? '_blank' : '_self'
                }) }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% set meta = {
    image: entry.anniversaryImage.first(),
    title: 'Buch – 100 Jahre ZS',
    url: url('100/buch')
} %}
