@font-face {
  font-family: Gaisyr;
  font-style: normal;
  font-weight: 300;
  src:
    url("@fonts/gaisyr/ABCGaisyr-Book.woff2") format("woff2"),
    url("@fonts/gaisyr/ABCGaisyr-Book.woff") format("woff");
}

@font-face {
  font-family: Gaisyr;
  font-style: italic;
  font-weight: 300;
  src:
    url("@fonts/gaisyr/ABCGaisyr-BookItalic.woff2") format("woff2"),
    url("@fonts/gaisyr/ABCGaisyr-BookItalic.woff") format("woff");
}

@font-face {
  font-family: Gaisyr;
  font-style: normal;
  font-weight: 400;
  src:
    url("@fonts/gaisyr/ABCGaisyr-Regular.woff2") format("woff2"),
    url("@fonts/gaisyr/ABCGaisyr-Regular.woff") format("woff");
}

@font-face {
  font-family: Gaisyr;
  font-style: italic;
  font-weight: 400;
  src:
    url("@fonts/gaisyr/ABCGaisyr-RegularItalic.woff2") format("woff2"),
    url("@fonts/gaisyr/ABCGaisyr-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: Gaisyr;
  font-style: normal;
  font-weight: 500;
  src:
    url("@fonts/gaisyr/ABCGaisyr-Medium.woff2") format("woff2"),
    url("@fonts/gaisyr/ABCGaisyr-Medium.woff") format("woff");
}

@font-face {
  font-family: Gaisyr;
  font-style: italic;
  font-weight: 500;
  src:
    url("@fonts/gaisyr/ABCGaisyr-MediumItalic.woff2") format("woff2"),
    url("@fonts/gaisyr/ABCGaisyr-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: Gaisyr;
  font-style: normal;
  font-weight: 700;
  src:
    url("@fonts/gaisyr/ABCGaisyr-Bold.woff2") format("woff2"),
    url("@fonts/gaisyr/ABCGaisyr-Bold.woff") format("woff");
}

@font-face {
  font-family: Gaisyr;
  font-style: italic;
  font-weight: 700;
  src:
    url("@fonts/gaisyr/ABCGaisyr-BoldItalic.woff2") format("woff2"),
    url("@fonts/gaisyr/ABCGaisyr-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: Gaisyr;
  font-style: normal;
  font-weight: 900;
  src:
    url("@fonts/gaisyr/ABCGaisyr-Black.woff2") format("woff2"),
    url("@fonts/gaisyr/ABCGaisyr-Black.woff") format("woff");
}

@font-face {
  font-family: Gaisyr;
  font-style: italic;
  font-weight: 900;
  src:
    url("@fonts/gaisyr/ABCGaisyr-BlackItalic.woff2") format("woff2"),
    url("@fonts/gaisyr/ABCGaisyr-BlackItalic.woff") format("woff");
}
