@font-face {
  font-family: ReplicaLL;
  font-style: normal;
  font-weight: 300;
  src:
    url("@fonts/replica/ReplicaLL-Light.woff2") format("woff2"),
    url("@fonts/replica/ReplicaLL-Light.woff") format("woff");
}

@font-face {
  font-family: ReplicaLL;
  font-style: italic;
  font-weight: 300;
  src:
    url("@fonts/replica/ReplicaLL-LightItalic.woff2") format("woff2"),
    url("@fonts/replica/ReplicaLL-LightItalic.woff") format("woff");
}

@font-face {
  font-family: ReplicaLL;
  font-style: normal;
  font-weight: 400;
  src:
    url("@fonts/replica/ReplicaLL-Regular.woff2") format("woff2"),
    url("@fonts/replica/ReplicaLL-Regular.woff") format("woff");
}

@font-face {
  font-family: ReplicaLL;
  font-style: italic;
  font-weight: 400;
  src:
    url("@fonts/replica/ReplicaLL-RegularItalic.woff2") format("woff2"),
    url("@fonts/replica/ReplicaLL-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: ReplicaLL;
  font-style: normal;
  font-weight: 700;
  src:
    url("@fonts/replica/ReplicaLL-Bold.woff2") format("woff2"),
    url("@fonts/replica/ReplicaLL-Bold.woff") format("woff");
}

@font-face {
  font-family: ReplicaLL;
  font-style: italic;
  font-weight: 700;
  src:
    url("@fonts/replica/ReplicaLL-BoldItalic.woff2") format("woff2"),
    url("@fonts/replica/ReplicaLL-BoldItalic.woff") format("woff");
}