.article-preview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  font-size: 1rem;
  transition: all 100ms ease-in-out;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;

    .article-preview__image {
      opacity: 0.75;
    }

    .article-preview__title {
      text-decoration: underline;
      text-decoration-thickness: 0.05em;
      text-underline-offset: 0.2em;
    }
  }

  &--small {
    .article-preview__image {
      width: 250px;
      height: 150px;
    }

    .article-preview__title {
      font-size: 1.25em;
    }
  }

  &--medium,
  &--large {
    .article-preview__image {
      width: 100%;
      height: auto;
    }

    .article-preview__title {
      font-size: 1.4em;
    }
  }

  &__image {
    transition: opacity 200ms ease-out;
    object-fit: cover;
  }

  &__text {
    transition: opacity 100ms ease-in-out;
  }

  &__title {
    margin: 0;
    font-family: $font-title;
    font-weight: 500;
  }

  &__ad-declaration {
    margin-right: 0.75em;
  }

  &__description {
    margin: 0.75em 0 0;
    font-size: 0.9em;
  }

  &__format {
    font-weight: 600;
  }

  .meta {
    margin-top: 1em;
    font-size: 0.7em;
    opacity: 0.5;
  }
}

@media (min-width: $breakpoint-tablet) {
  .article-preview {
    &--horizontal {
      flex-direction: row;
    }

    &--vertical {
      flex-direction: column;
    }

    &--small {
      flex-direction: column;

      .article-preview__title {
        font-size: 1.25em;
      }
    }

    &--medium {
      .article-preview__title {
        font-size: 1.5em;
      }
    }

    &--large {
      .article-preview__title {
        font-size: 1.75em;
      }

      &.article-preview--horizontal {
        gap: 3rem;
        align-items: center;

        .article-preview__image,
        .article-preview__text {
          width: calc(50% - 1.5rem);
        }
      }

      &.article-preview--vertical {
        gap: 0.75rem;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .article-preview {
    &--small {
      &.article-preview--horizontal {
        flex-direction: row;
        gap: 2rem;
      }
    }

    &--medium {
      .article-preview__title {
        font-size: 1.75em;
      }
    }

    &--large {
      .article-preview__title {
        font-size: 2em;
      }

      &.article-preview--horizontal {
        gap: 4rem;

        .article-preview__image,
        .article-preview__text {
          width: calc(50% - 2rem);
        }
      }

      &.article-preview--vertical {
        gap: 1rem;
      }
    }
  }
}
