.feed {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__title {
      position: sticky;
      z-index: 9;
      padding: 0.25rem 0;
      margin: 0;
      color: var(--color-accent);
      border-top: solid 2px var(--color-accent);

      a {
        color: var(--color-accent);

        &:hover,
        &:focus,
        &:active {
          color: var(--color-accent-alt);
        }
      }
    }

    &__entries {
      &--article {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .article-preview {
          padding: 1em 0;
          border-bottom: solid 1px var(--color-border-bright);

          &:first-of-type {
            border-top: solid 1px var(--color-border-bright);
          }
        }
      }

      &--issue {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 2rem 1rem;

        img {
          max-width: min(175px, 100%) !important;
          height: auto;
        }
      }
    }

    &__link {
      margin-top: 2rem;
      font-size: 0.9rem;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .feed {
    gap: 5rem;

    &__section {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: flex-start;

      &__title {
        top: 110px;
        width: 175px;
      }

      &__entries {
        width: 100%;

        &--article {
          .article-preview {
            padding: 1.5em 0;
          }
        }

        &--issue {
          grid-template-columns: 1fr 1fr 1fr;
          gap: 3rem 2rem;

          img {
            max-width: 100% !important;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .feed {
    &__section {
      gap: 3rem;

      &__title {
        top: 125px;
        width: 250px;
      }
    }
  }
}
