.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px $layout-padding 30px;
  font-size: 0.8rem;

  &__inner {
    border-top: solid 2px var(--color-border-dark);
  }

  &__navigation {
    .navigation__section {
      &:first-child {
        border-top: none;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 25px;
  }

  &__logo {
    display: block;
    width: 225px;
    margin-bottom: 0.25rem;
    fill: var(--color-fg);
  }

  &__source {
    a {
      text-decoration: underline;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .footer {
    gap: 15px;
    padding: 75px $layout-padding-tablet 35px;

    &__bottom {
      gap: 0.75rem;
      margin-top: 35px;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .footer {
    gap: 15px;
    padding: 125px $layout-padding-desktop 40px;

    &__navigation {
      padding: 2.5rem 0;
      border-bottom: solid 1px var(--color-border-bright);
    }

    &__bottom {
      gap: 1rem;
      margin-top: 40px;
    }

    &__logo {
      width: 300px;
    }
  }
}
