.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;

    &.form__fields {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &.form__controls {
      display: flex;
      flex-direction: row;
      gap: 1.5em;
      align-items: center;
    }
  }

  input,
  textarea {
    width: 100%;
    height: 2.375rem;
    padding: 0.5rem;
    font-size: 16px;
    color: var(--color-input-fg);
    background-color: var(--color-input-bg);
    border: solid 1px var(--color-input-border);
    border-radius: 3px;
    outline: none;
    appearance: none;

    &:focus,
    &:active {
      border-color: var(--color-input-border-alt);
    }

    &:disabled {
      color: var(--color-input-fg-disabled);
      background-color: var(--color-input-bg-disabled);
      border-color: var(--color-input-border);
    }
  }

  textarea {
    min-height: 100px;
    resize: vertical;
  }

  &__small {
    margin: 0.1rem 0 0;
    font-size: 0.8rem;
    line-height: 1.25;
    color: var(--color-input-hint);
  }

  &__success {
    color: var(--color-input-success);
  }

  &__errors {
    padding: 0;
    padding-inline-start: 25px;
    margin: 0 0 0.1em;
    line-height: 1.25;
    color: var(--color-input-error);
    list-style: none;

    li::before {
      position: absolute;
      margin-left: -20px;
      content: "\2012";
    }

    a {
      color: var(--color-input-error);
      text-decoration: underline;
    }
  }
}
