.issue {
  display: flex;
  flex-direction: column;
  height: 100%;

  img {
    object-fit: cover;
    border: solid 1px var(--color-border-bright);
    transition: opacity 200ms ease-in-out;
  }

  span {
    display: block;
  }

  &--link {
    &:hover,
    &:focus,
    &:active {
      h4 {
        text-decoration: underline;
      }

      img {
        opacity: 0.75;
      }
    }
  }
}
