.search {
  margin-bottom: 50px;
}

@media (min-width: $breakpoint-tablet) {
  .search {
    margin-bottom: 75px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .search {
    margin-bottom: 100px;
  }
}
