@use "@styles/variables";

.content-gallery {
  margin: 0;

  .swiper-slide {
    width: auto;

    figcaption {
      display: none;
    }
  }

  img {
    display: block;
    width: auto;
    height: 300px;
    object-fit: cover;
  }

  &__meta {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    max-width: variables.$layout-width-small;
    margin: 0.25em auto 0;
  }
}

.gallery-controls {
  display: flex;
  gap: 0.25em;
  align-items: center;
  width: fit-content;
  font-family: variables.$font-sans-serif;
  font-size: 0.8em;
  white-space: nowrap;

  button {
    display: flex;
    padding: 0;
    color: var(--color-fg);
    cursor: pointer;
    background: none;
    border: none;

    &:hover,
    &:focus,
    &:active {
      color: var(--color-fg-alt);
    }

    &:disabled {
      color: var(--color-fg-subdued-alt);
      cursor: default;
    }
  }
}

@media (min-width: variables.$breakpoint-tablet) {
  .content-gallery {
    img {
      height: 400px;
    }
  }
}

@media (min-width: variables.$breakpoint-desktop) {
  .content-gallery {
    img {
      height: 500px;
    }
  }
}
