@use "@styles/variables";
@use "@styles/layout";

.content-header {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 2rem;

  &:not(.content-header--has-image) {
    margin-top: 1.5rem;
  }

  &.content-header--small {
    .content-image {
      @include layout.layout("small");
    }
  }

  &.content-header--medium {
    .content-image {
      @include layout.layout("medium");
    }
  }

  &.content-header--large {
    &:not(.content-header--bottom) {
      margin-top: 0;
    }

    .content-image {
      @include layout.layout("large", false);
    }
  }

  a {
    text-decoration: underline;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;

    @include layout.layout("small");

    h2 {
      margin: 0;
      font-family: variables.$font-sans-serif;
      font-size: 1.3rem;
      font-weight: 700;
    }

    .content-header__description {
      margin: 0;
      font-family: variables.$font-serif;
      line-height: 1.5;
    }

    .content-header__format {
      font-weight: 700;
    }

    .meta {
      font-size: 0.8em;
      color: var(--color-fg-subdued);

      a {
        color: var(--color-fg-subdued);

        &:hover,
        &:focus,
        &:active {
          color: var(--color-fg-subdued-alt);
        }
      }
    }
  }
}

@media (min-width: variables.$breakpoint-tablet) {
  .content-header {
    gap: 1.75rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;

    &:not(.content-header--has-image) {
      margin-top: 3rem;
    }

    &__text {
      gap: 1.5rem;

      h2 {
        font-size: 1.75rem;
      }
    }
  }
}

@media (min-width: variables.$breakpoint-desktop) {
  .content-header {
    gap: 2.25rem;
    margin-top: 2rem;
    margin-bottom: 3rem;

    &:not(.content-header--has-image) {
      margin-top: 4rem;
    }

    &__text {
      h2 {
        font-size: 2rem;
      }
    }
  }
}
