@use "@styles/variables";

img[data-lightbox] {
  cursor: zoom-in;
}

.lightbox {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--color-bg);
  opacity: 0;
  transition: all 250ms ease-in-out;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: calc(100vw - 2 * variables.$layout-padding);
      max-height: calc(100vh - 250px);
      object-fit: contain;
    }
  }

  &__header,
  &__footer {
    padding: variables.$layout-padding;
  }

  &__footer {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 10%;
  }
}

@media (min-width: variables.$breakpoint-tablet) {
  .lightbox {
    .swiper-slide {
      img {
        max-width: calc(100vw - 2 * variables.$layout-padding-tablet);
      }
    }

    &__header,
    &__footer {
      padding: variables.$layout-padding-tablet;
    }
  }
}

@media (min-width: variables.$breakpoint-desktop) {
  .lightbox {
    .swiper-slide {
      img {
        max-width: calc(100vw - 2 * variables.$layout-padding-desktop);
      }
    }

    &__header,
    &__footer {
      padding: variables.$layout-padding-desktop;
    }
  }
}
