@use "@styles/variables";

.content-quote {
  max-width: 90%;
  text-align: center;

  blockquote {
    margin: 0;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.5;
    color: var(--color-accent);
  }

  figcaption {
    margin-top: 1.5em;
  }
}

@media (min-width: variables.$breakpoint-tablet) {
  .content-quote {
    blockquote {
      font-size: 1.75em;
    }
  }
}
