{% from '_macros/content.twig' import caption %}

{% set embed = craft.embeddedAssets.get(asset) %}

{% if embed %}
    <div class="content-block content-block--small">
        <div class="content-embed">
            <div class="content-embed__embed">
                {{ embed.html }}
            </div>
            {{ caption({
                caption: asset.caption,
                contributors: asset.contributors.all()
            }) }}
        </div>
    </div>
{% endif %}
