{% from '_macros/content.twig' import image %}

{% from '_macros/button.twig' import link %}
{% from '_macros/icon.twig' import icon %}

{% if asset %}
    <div class="content-block content-block--small">
        <div class="content-file">
            <span class="content-file__title">{{ asset.title }}</span>
            <span class="content-file__filename">{{ asset.filename }}</span>
            {{ link({
                download: true,
                href: asset.url,
                icon: 'download',
                label: 'Herunterladen',
                style: 'accent'
            }) }}
        </div>
    </div>
{% endif %}
