{% from '_macros/content.twig' import image %}

{% if image %}
    <div class="content-block content-block--{{ size }}">
        {{ image({
            image: image,
            size: size
        }) }}
    </div>
{% endif %}
