html {
  font-size: 18px;
  line-height: 1.5;
}

body {
  font-family: $font-sans-serif;
  color: var(--color-fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

a {
  color: var(--color-fg);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-fg-alt);
    text-decoration: underline;
  }
}

img {
  opacity: 1;
  transition: opacity 200ms ease-in-out;

  &.image--loading {
    opacity: 0;
  }
}
