@use "sass:map";
@use "@styles/variables";

@mixin layout($size: "medium", $padding: true) {
  $width: map.get(
    (
      "small": variables.$layout-width-small,
      "medium": variables.$layout-width-medium,
      "large": variables.$layout-width-large,
    ),
    $size
  );

  width: 100%;
  margin: 0 auto;

  @if $padding {
    max-width: $width + 2 * variables.$layout-padding;
    padding: 0 variables.$layout-padding;
  } @else {
    max-width: $width;
  }

  @media (min-width: variables.$breakpoint-tablet) {
    @if $padding {
      max-width: $width + 2 * variables.$layout-padding-tablet;
      padding: 0 variables.$layout-padding-tablet;
    } @else {
      max-width: $width;
    }
  }

  @media (min-width: variables.$breakpoint-desktop) {
    @if $padding {
      max-width: $width + 2 * variables.$layout-padding-desktop;
      padding: 0 variables.$layout-padding-desktop;
    } @else {
      max-width: $width;
    }
  }
}

body {
  background-color: var(--color-bg-alt);

  &.overflow-hidden {
    overflow: hidden;
  }

  @media (min-width: variables.$breakpoint-desktop) {
    padding: 0 calc(variables.$layout-padding-desktop);
  }
}

.wrapper {
  max-width: variables.$layout-width-large;
  padding: 0;
  margin: 0 auto;
  background-color: var(--color-bg);

  &--header-small,
  &--header-large {
    padding-top: 71px;
  }

  @media (min-width: variables.$breakpoint-tablet) {
    &--header-small,
    &--header-large {
      padding-top: 92px;
    }
  }

  @media (min-width: variables.$breakpoint-desktop) {
    &--header-small {
      padding-top: 92px;
    }

    &--header-large {
      padding-top: 142px;
    }
  }
}

.layout {
  margin: 0 auto;

  &.small,
  &.medium {
    padding: 0 variables.$layout-padding;
  }

  &.small {
    @include layout("small");
  }

  &.medium {
    @include layout("medium");
  }

  &.large {
    @include layout("large", false);
  }
}
