// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

// Layout
$layout-width-small: 640px;
$layout-width-medium: 1024px;
$layout-width-large: 1440px;
$layout-padding: 15px;
$layout-padding-tablet: 25px;
$layout-padding-desktop: 40px;

// Fonts
$font-sans-serif: "Inter", sans-serif;
$font-serif: "Merriweather", serif;
$font-title: "Recoleta", serif;
