{% extends '_layouts/base.twig' %}

{% set colorScheme = 'dark' %}
{% set layoutSize = layoutSize ?? 'small' %}   {# small, medium, large #}

{% from '_macros/layout.twig' import header, footer %}

{% set navigation = craft.navigation.nodes()
    .handle('anniversary')
    .level(1)
    .with(['children'])
    .all() %}

{% set secondaryNavigation = [
    {
        link: tag('a', {
            href: url(),
            text: 'Zurück zur Startseite'
        }),
        children: null
    }
] %}

{% block content %}
    {{ header({
        navigations: [ navigation, secondaryNavigation ],
        showTopNavigation: false,
        siteUrl: url('100'),
        size: headerSize,
        style: headerStyle
    }) }}

    <main class="{{ html_classes('layout', layoutSize) }}">
        {% block main %}{% endblock %}
    </main>

    {{ footer() }}
{% endblock %}
