{% extends '_layouts/base.twig' %}

{% set layoutSize = layoutSize ?? 'small' %}   {# small, medium, large #}

{% from '_macros/layout.twig' import header, footer %}

{% set navigation = craft.navigation.nodes()
    .handle('navigation')
    .level(1)
    .with(['children'])
    .all() %}

{% block content %}
    {{ header({
        navigations: [ navigation ],
        size: headerSize,
        style: headerStyle
    }) }}

    <main class="{{ html_classes('layout', layoutSize) }}">
        {% block main %}{% endblock %}
    </main>

    {{ footer() }}
{% endblock %}
